@import url("https://fonts.googleapis.com/css?family=Poppins:600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css?family=Kumbh+Sans:800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Black+And+White+Picture&display=swap");

body {

    font-family: 'Roboto', sans-serif;
    color: rgb(216, 216, 216);
    background-color: #9BBA5A;

    width: 100%;
    height: 100vh;

    overflow: hidden;
}

#game {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: 10px solid #272F17;
}


/* ===== RESET ===== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0 !important;
}